<div class="container">
  <div class="row">

    <div class="col-6">

      <hr>

      <h5>Employee form:</h5>

      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" >

        <div class="mb-3">
          <label class="form-label">Name:</label>
          <input  type="text" 
                  class="form-control"
                  formControlName="name"
                  placeholder="Name">
        </div>

        <div class="mb-3">
          <label class="form-label">Last name:</label>
          <input  type="text" 
                  class="form-control"
                  formControlName="lastName"
                  placeholder="Last name">
        </div>

        <div class="mb-3">
          <label class="form-label">Phone number:</label>
          <input  type="text" 
                  class="form-control"
                  formControlName="phoneNumber"
                  placeholder="Phone number">
        </div>

        <button type="submit"
                class="btn btn-primary"
                [disabled]="isInvalidForm">
          Save employee
        </button>
  
      </form>

    </div>

    <div class="col-6 p-4">
      <app-employee-table 
        [employees]="employees">
      </app-employee-table>

    </div>

  </div>
</div>